main {
    min-height: 35em;
}

main #carousel-home-page, main #carousel-img {
    width: 600px;
    height: 600px;
}

main #carousel-img {
    object-fit: cover;
}

@media (max-width: 600px) {
    /* Extra small devices (portrait phones, less than 401px) */
    main #carousel-home-page, main #carousel-img {
        width: 90%;
        height: 20em;
    }

    main #carousel-img {
        object-fit: cover;
    }
}

main .list-inline {
    max-width: 25em;
}

footer {
    padding-top: 1em;
}

h4 a {
    text-decoration: none;
    color: black;
}

.artwork-preview {
    object-fit: cover;
    margin: 10px;
}

#artwork-full {
    max-width: 90%;
}